<!-- header -->
	<div class="header">
		<div class="container">
			<div class="w3layouts_logo">
				<a href="index.html"><h1>Trailer <span>Movies</span></h1></a>
			</div>
			<!-- div class="w3_search">
				<form action="#" method="post">
					<input type="text" name="Search" placeholder="Search" required="">
					<input type="submit" value="Go">
				</form>
			</div> -->
			<div class="w3l_sign_in_register">
				<ul>
					<li><i class="fa fa-phone" aria-hidden="true"></i> (+84) 986.76.98.10</li>
					<!-- li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li> -->
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //header -->
<!-- nav -->
	<div class="movies_nav">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
						     <li id="news_menu"><a href="news">news</a></li>
							<li  id="home_menu" ><a href="/movies">Movies</a></li>
							<li class="dropdown" id="genres_menu">
								<a href="genres"  class="dropdown-toggle" data-toggle="dropdown">Genres <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-2">
									<li>
									<div class="col-sm-2">
										<ul class="multi-column-dropdown">
											@for(cate <- models.util.CommonData.listAllProductCategory() ){
											<li><a href="@routes.GenresController.genres(cate.id)">@cate.name</a></li>
											}
											
										</ul>
									</div>
									
									<div class="clearfix"></div>
									</li>
								</ul>
							</li>
							
							<li id="tv_menu" ><a href="series" >tv - series</a></li>
							
							<li id="contact_menu"><a href="contact">contact</a></li>
							<li id="shortcode_menu" ><a href="shortcodes">Short Codes</a></li>
							<li id="icons_menu"><a href="icons">Icons</a></li>
							<!-- li id="list_menu"><a href="list">A - z list</a></li> -->
						</ul>
					</nav>
				</div>
			</nav>	
		</div>
	</div>
<!-- //nav -->
